body{
    margin: 0;
}
img
{
    height: 30px;
    width: ;:30px;
}
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(161, 148, 148);
    color: aquamarine;
    padding: 8px;

}

a {
    color: aliceblue;
    text-decoration: overline;
}